{% extends "eduprod/layout.html" %}
{% block body %}
<h2>Questions</h2>
<table>
    {% for question in questions %}
    <tr><td style="text-align:right;">
            {{ question.question_text }} ({{ question.answer_text }})
        </td>
        <td>
            <a href="{% url 'eduprod:question_edit' question.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url 'eduprod:question_delete' question.id %}">Delete</a>
        </td>
    </td></tr>
    {% endfor %}
</table>
<a href="{% url 'eduprod:question_add' %}">Add a new question</a>
{% endblock %}